In [ ]:
create database college;
use college;

create table students (
id int,
name varchar(50),
age int
);
show tables;
describe students;
insert into students values(1,"rahul",20);
insert into students (id,name) values (2,"amit");
select * from students;
select name, age from students;
select * from students where age > 18;
update students
set age = 21
where id = 1;

In [ ]:
use college;
create table employee(emp_id int auto_increment primary key,name varchar(50)not null,
department varchar(50),salary int,city varchar(30),emp_id varchar(20));
insert into employee(name,department,salary,city)
values ("rahul sharma","1t",45000,"pune");
select * from employee;
insert into employee (name,department,salary,city)
values
("amit verma","hr",35000,"delhi"),
("sneha patil","finance",50000,"mumbai"),
("rohit sharma","it",60000,"bangalore");
select * from employee;
select * from employee where department = "it";
select * from employee where salary > 40000;
update employee
set name = ""
where emp_id=1;


update employee
set department ="manager"
where emp_id=2;

select * from employee;


select count(*) from employee;
select max(salary) from employee;
select * from employee order by salary desc;


select * from employee where name = "Amit verma";

select * from employee;
select max(salary);

SELECT MAX(salary) AS second_highest_salary
FROM employee
WHERE salary < (SELECT MAX(salary) FROM employee);

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 20.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",   # or remote host
    user="root",
    password="Shivmanju44@@",
    database="college"
)

cursor = conn.cursor()

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)

### Switching to SQLite

Since direct connection to a local MySQL server from Google Colab is not straightforward, we will use **SQLite**. SQLite is a file-based database that doesn't require a separate server process, making it ideal for Colab environments.

We will create a database file named `college.db`.

In [ ]:
import sqlite3

# Connect to an SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('college.db')
cursor = conn.cursor()

print("Connected to SQLite database 'college.db' successfully.")

Connected to SQLite database 'college.db' successfully.

Now, let's recreate the `students` table and insert some data using SQLite.

In [ ]:
# Drop the table if it already exists (useful for re-running the cell)
cursor.execute('DROP TABLE IF EXISTS students;')

# Create the students table
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name VARCHAR(50),
    age INTEGER
);
''')

# Insert values
cursor.execute("INSERT INTO students (id, name, age) VALUES (1, 'rahul', 20)")
cursor.execute("INSERT INTO students (id, name) VALUES (2, 'amit')")

# Commit the changes
conn.commit()

print("Table 'students' created and data inserted successfully.")

Table 'students' created and data inserted successfully.

You can now query the `students` table.

In [ ]:
# Select all data from students
cursor.execute('SELECT * FROM students;')
rows = cursor.fetchall()
print("Students table data:")
for row in rows:
    print(row)

# Select specific columns
cursor.execute('SELECT name, age FROM students;')
rows = cursor.fetchall()
print("\nStudents names and ages:")
for row in rows:
    print(row)

# Select with WHERE clause
cursor.execute('SELECT * FROM students WHERE age > 18;')
rows = cursor.fetchall()
print("\nStudents older than 18:")
for row in rows:
    print(row)

Students table data:
(1, 'rahul', 20)
(2, 'amit', None)

Students names and ages:
('rahul', 20)
('amit', None)

Students older than 18:
(1, 'rahul', 20)

Don't forget to close the connection when you are done.

In [ ]:
# Close the connection
conn.close()
print("Connection to SQLite database closed.")

Connection to SQLite database closed.

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('college.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('select * from employee;')

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

OperationalError: no such table: employee

In [ ]:
import sqlite3

# Reconnect to the SQLite database (or ensure connection is open)
conn = sqlite3.connect('college.db')
cursor = conn.cursor()

# Drop the employee table if it exists (for easy re-running)
cursor.execute('DROP TABLE IF EXISTS employee;')

# Create the employee table
cursor.execute('''
CREATE TABLE employee (
    emp_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(50) NOT NULL,
    department VARCHAR(50),
    salary INTEGER,
    city VARCHAR(30)
);
''')

# Insert initial data into the employee table
cursor.execute("INSERT INTO employee (name, department, salary, city) VALUES ('rahul sharma', 'IT', 45000, 'Pune');")
cursor.execute("INSERT INTO employee (name, department, salary, city) VALUES ('amit verma', 'HR', 35000, 'Delhi');")
cursor.execute("INSERT INTO employee (name, department, salary, city) VALUES ('sneha patil', 'Finance', 50000, 'Mumbai');")
cursor.execute("INSERT INTO employee (name, department, salary, city) VALUES ('rohit sharma', 'IT', 60000, 'Bangalore');")

# Commit the changes
conn.commit()

print("Table 'employee' created and data inserted successfully into college.db.")

# Close the connection
conn.close()

Table 'employee' created and data inserted successfully into college.db.

In [ ]:
 college.db

NameError: name 'college' is not defined

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
data=pd.read_csv("C:\Users\hp\Downloads\house_price_dataset.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (ipython-input-1161614248.py, line 6)

# New Section

In [1]:
guit init

SyntaxError: invalid syntax (ipython-input-3299905955.py, line 1)

SyntaxError: invalid syntax (ipython-input-2830201818.py, line 1)